

.background {
    background-image: url('images/background-image.jpg'); 
    background: #7F58CB;   
    height: 600px;

}
nav {
    padding: 30px 15%;
    margin: 0;
    text-align: right;
}
nav li {
    display: inline;
    padding: 0 15px;
}
nav a {
    color: #666;
    text-decoration: none;
}
nav a:hover {
color: #333;
}
nav p {
    display: inline;
    float: left;
}
.header {
    text-align: center;
    padding-top: 20%;
}