body {
    margin: 0;
}

                                       /* Tytul*/
.background {
    background-image: url('https://www.chrisansgroup.com/images/resposive-web-design-kuwait.jpg'); 
    background-size: cover;
    height: 600px;

}
                                             /*Nacigacion*/
nav {
    padding: 30px 15%;
    margin: 0;
    text-align: right;

    li {
        display: inline;
        padding: 0 15px;
    }
    a:hover {
        color: #333;
    }
    p {
        display: inline;
        float: left;
    }

}
    
a {
    color: #666;
    text-decoration: none;
}
.header {
    text-align: center;
    padding-top: 5%;

    a {
        background: #FED136;
        padding: 20px 30px;
        border-radius: 10%;
        color: #fff;

        &:hover {
            background: #CFA71F;
        }
    }
    
} 
                                            /*Services*/
.tytul {
    text-align: center;
    padding-top: 50px;
}
.soc {
    font-size: 50px;
    border: 1px solid #FED136;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: auto;
    color:  #FED136;
    padding-top: 25px;
    
}
.social {
    padding-top: 13px;
}
.col-4 {
    text-align: center;
    
}
footer {
    padding-top: 50px;
    text-align: center;

    .social {
        font-size: 25px;
        background: black;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        padding-top: -15px;
        color:  #fff;
    }
    a {
        margin-right: 20px;
    }
}
img {
    width: 250px;
    height: 250px;
}
                                                  /*Our Porfolio*/
.two {
    background: #F7F7F7; 
}
h1 {
    font-size: 90px;
    font-family: 'Inconsolata', monospace;
    color: #FED136;
}
h2, h3 {
    font-family: 'Signika', sans-serif;
    font-size: 48px;
    color: #FED136;
}
.row a:hover {
    background: #ABA5A5;
    
}
h3 {
    color: black;
    margin-bottom: 0px;
}
p {
    font-family: 'Inconsolata', monospace;
    font-style: italic;
    margin-bottom: 100px;
}
.content {
    background: #fff;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.col-sm-12 {
    text-align: center;
}
 .col-md-4 {
    text-align: center;
 }
 .col-lg-4 {
    text-align: center;
 }